
body{
    background-color: powderblue;
}
.contenedor{
    width: 90%;
    margin: auto;
}

/* introduccion*/
.introduccion{
    float: left;
    width: 100%;
    margin: 1%;
}
#evacolor{
    text-align: left;
    color: purple;
    font-size: 40px;
    margin-left: 10%;
    text-decoration: none;
}
#deathcolor{
    text-align: left;
    color: gray;
    font-size: 40px;
    margin-left: 18%;
    text-decoration: none;
}
#blackcolor{
    text-align: left;
    color: red;
    font-size: 40px;
    margin-left: 18%;
    text-decoration: none;
}
#attackcolor{
    text-align: left;
    color: brown;
    font-size: 40px;
    margin-left: 16%;
    text-decoration: none;
}
#demoncolor{
    text-align: left;
    color: orange;
    font-size: 40px;
    margin-left: 17%;
    text-decoration: none;
}
#firecolor{
    text-align: left;
    color: orangered;
    font-size: 40px;
    margin-left: 13%;
    text-decoration: none;
}
.imge{
    float: right;
    width: 41%;
    margin: 1.5%;
    border-radius: 18px;
}
.imgd{
    float: left;
    width: 51%;
    margin-left: 3%;
    margin-top: 6.9%;
    border-radius: 18px;
}
#peva{
    width: 90%;
    text-align: justify;
    font-size: 22px;
}

/* Contenedores de los personajes */
.bloque{
    float: right;
    width: 29%;
    padding: 1%;
    margin: 1%;
    position: static;
    text-align: justify;
}
.titulos{
    text-decoration: none;
    text-align: center;
}
a{
    color:black;
}
a:hover{
    color: purple;
    transition: all .3s;
}

/* Imagenes de contenedores */
.img{
    float: center;
    padding: 0.5%;
    width: 53%;
    margin-left: 21.5%;
    border-radius: 18px;
}
.img:hover{
    width: 62%;
    display: block;
    transition: all .4s;
}
/* Parrafos */
p{
    font-size: 22px;
}

/* Linea divisoria */
.divisor{
    border-color: black;
}
/* Barra superior */
.topnav {
    background-color: #333;
    overflow: hidden;
    border-radius: 18px;
    width: auto;
}
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 1.2% 1.5%;
    text-decoration: none;
    font-size: 17px;
    border-radius: 18px;
}
.topnav a:hover {
    background-color: purple;
    color: white;
    transition: all .3s;
}
#imagen-static{
    position: fixed;
    margin: 0.5%;
}
#anime{
    text-align: left;
    margin-right: 27%;
}
/* Footer */
footer {
    clear: both;
    position: relative;
    float: left;
    width: 26%;
    height: 100%;
    background-color: gray;
    border-radius: 10px;
    margin-left: 7.5%;
    margin-bottom: 1%;
}
footer ul li{
    list-style: none;
    font-size: 20px;
}
footer ul li a{
    text-decoration: none;
    margin-top: 1%;
}
#icons-footer{
    width: 10%;
    margin-top: 1%;
    margin-left: 1%;
}
#icon-goeat{
    width: 8.5%;
    margin-top: 1%;
}


/* Indice */
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 18px;
    transition: all 0.3s;
  }
.subnav {
    float: left;
    overflow: hidden;
  }

  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: lightgreen;
    border-radius: 12px;
    color: black;
  }

  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #333;
    border: purple solid;
    width: 10%;
    z-index: 1;
    border-radius: 18px;
    margin-left: 5.5%;
  }
 
.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
    margin-left: 2%;
    text-align: left;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
/* Fin indice */