body{
    background-color: powderblue;
}
.contenedor{
    width: 90%;
    margin: auto;
}

/* introduccion*/
.introduccion{
    float: left;
    width: 100%;
    margin: 1%;
}
#evacolor{
    text-align: left;
    color: purple;
    font-size: 40px;
    margin-left: 9%;
    text-decoration: none;
}
#deathcolor{
    text-align: left;
    color: gray;
    font-size: 40px;
    margin-left: 18%;
    text-decoration: none;
}
#blackcolor{
    text-align: left;
    color: red;
    font-size: 40px;
    margin-left: 15%;
    text-decoration: none;
}
#attackcolor{
    text-align: center;
    color: brown;
    font-size: 40px;
    margin-left: 15%;
    text-decoration: none;
}
#demoncolor{
    text-align: left;
    color: orange;
    font-size: 40px;
    margin-left: 14%;
    text-decoration: none;
}
#firecolor{
    text-align: left;
    color: orangered;
    font-size: 40px;
    margin-left: 12%;
    text-decoration: none;
}
#codecolor{
    text-align: left;
    color: purple;
    font-size: 40px;
    margin-left: 17%;
    text-decoration: none;
}
#kakecolor{
    text-align: left;
    color: rgb(136, 3, 3);
    font-size: 40px;
    margin-left: 17%;
    text-decoration: none;
}
#tokyocolor{
    text-align: left;
    color: rgb(99, 4, 4);
    font-size: 40px;
    margin-left: 16%;
    text-decoration: none;
}
.imge{
    float: right;
    width: 50%;
    margin: 1.5%;
    border-radius: 18px;
}
.imgd{
    float: left;
    width: 50%;
    margin-left: 3.5%;
    margin-top: 6.9%;
    border-radius: 18px;
}
#peva{
    width: 90%;
    text-align: justify;
    font-size: 12px;
}

/* Contenedores de los personajes */
.bloque{
    float: right;
    width: 29%;
    padding: 1%;
    margin: 1%;
    position: static;
    text-align: justify;
}
.titulos{
    text-decoration: none;
    text-align: center;
    font-size: 10px;
}
a{
    color:black;
}
a:hover{
    color: purple;
    transition: all .3s;
}

/* Imagenes de contenedores */
.img{
    float: center;
    padding: 0.5%;
    width: 80%;
    margin-left: 21.5%;
    border-radius: 18px;
}
.img:hover{
    width: 62%;
    display: block;
    transition: all .4s;
    transition-delay: 0.2s;
}
/* Parrafos */
p{
    font-size: 12px;
}

/* Linea divisoria */
.divisor{
    border-color: black;
}

/* Barra superior */
.topnav {
    background-color:mintcream;
    overflow: hidden;
    border-radius: 18px;
    width: auto;
}
.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
    font-size: 14px;
    border-radius: 18px;
    margin-left: 4%;
}
.topnav a:hover {
    background-color: black;
    color: white;
    transition: all .3s;
}
#imagen-static{
    position: fixed;
    margin: 0.5%;
    width: 5%;
}
#anime{
    text-align: left;
    margin-left : 6%;
}
/* Footer */
footer {
    clear: both;
    position: relative;
    float: left;
    width: 60%;
    height: 100%;
    background-color: gray;
    border-radius: 10px;
    margin-left: 10%;
    margin-bottom: 1%;
    padding-right: 21%;
    text-align: center;
}
footer ul li{
    list-style: none;
    font-size: 18px;
}
footer ul li a{
    text-decoration: none;
    margin-top: 1%;
}
#icons-footer{
    width: 17%;
    margin-top: 1%;
    margin-left: 1%;
}
#icon-goeat{
    width: 15%;
    margin-top: 1%;
}


/* Indice */
.subnav {
    float: left;
    overflow: hidden;
  }

  .subnav .subnavbtn {
    font-size: 13px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: lightgreen;
    border-radius: 12px;
    color: black;
  }

  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: mintcream;
    border: black solid;
    width: 22%;
    z-index: 1;
    border-radius: 18px;
    margin-left: 5.5%;
    margin-top: 0.1%;
  }
 
.subnav-content a {
    float: left;
    color: black;
    text-decoration: none;
    margin-left: 2%;
    text-align: left;
  }
  
  .subnav-content a:hover {
    background-color: lightgreen;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
/* Fin indice */

/* Scroll */
body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius: 5px;
}